<p class="has-t-cen bkg-ali">my page</p>
<br>
<p><%= usr.name %><%=iusr.sama%></p>
<br>

<form method="post" action="/usr-out">
    <input type="hidden" name="out" value="yes">
    <button class="button">log out</button>
</form>
