<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>
<html>
<body>

<section class="has-background-white" style="padding:20px">
<div class="columns">

<div class="column is-one-quarter">

<% include shop/bre%>
<% include shop/cat%>
</div>

<div class="column is-two-quarter">
    <% include shop/cart %><br>
<% include shop/clr%>
</div><!-- /col-->

<div class="column is-one-quarter">
    <% if(sar && sum){ %>
    <% include shop/sum%><br><br>
<% include shop/pay%>
<% } %>

</div><!-- /col-->
</div><!-- /row-->

<div class="foot"><% include par/foot %></div>

</section><!-- /container-fluid-->

</body>
</html>

