<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>

<html>
<body>
<section class="section">
<div class="row">
		<div class="col is-one-quarter bkg-ali">
		<% include shop/cat%>
		</div><!-- col1 4-->

<% if(sar!==null){ %>
<div class="col is-two-quarters bkg-bei"> 

<% include shop/cart %>
<% include shop/clr%>

</div><!-- col3 4-->

<% if(sum!==0){ %>
<div class="col is-one-quarter bkg-ali">

    <% include shop/sum %>
    <% include shop/pay%>

</div><!-- col3 4-->
<% }  %>

<% } else { %>&nbsp;
<p class="button is-info"><%=shop.noit %></p>
<% }  %>

</div><!-- row--> 

</section> 

</body>
</html>

