<!DOCTYPE html>
<% include par/head%>
<%if(usr){%>
<% include usr/nav%>
<% } else {%>
<% include par/nav%>
<% } %>
<html>
<body>

<section class="section">
    <div class="row">
	    <div class="col is-one-quarter">
		<% include shop/cat %>
		</div><!--/col-->
		<div class="col">
	    <% include shop/dra %>
		</div><!-- /col-->
	</div><!-- /col-->
</section><!-- /section-->

</body>
</html>

