<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>
<html>
<body>
<!-- menu -->

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12">
<br>

</div><!-- /col12-->
</div><!-- /row-->

<div class="foot"><% include par/foot %></div>

</div><!-- /container-fluid-->

</body>
</html>

