<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>
<html>
<body>

<!-- menu -->

<div class="section">
<div class="row">
<div class="col is-one-quarter">
<% include shop/cat%>
</div>

<div class="col">
<% include shop/item %>

</div><!-- /col-->
</div><!-- /row-->


</section><!-- /container-fluid-->

</body>
</html>

