<!DOCTYPE html>
<html>
<% include par/head%>
<% if(usr){%>
<% include par/inav%>
<% }else{ %>
<% include par/onav%>
<% } %>

<body>

<!-- menu -->

<section class="section">
<div class="row">
<div class="col is-one-4 ">
<% include shop/cat %>

</div>

<div class="col"> 
<% if(usr){ %>
<% include aid/aid %>
<% } else { %>
<% include usr/in%>
<% } %>
</div><!-- /col-->
</div><!-- /cols-->

</section><!-- sec-->

</body>

</html>

