<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>
<html>
<body>
<!-- menu -->

<!-- menu -->

<div class="columns">
<div class="column is-one-three">
<% include shop/cat %>
</div>

<div class="column">
<br>

<% if(par=="sign") { %>
<% include usr/sign %>

<% } else if(par=="in") { %>
<% include usr/in %>

<% } else if(par=="my") { %>
<% include usr/my %>

<% } else if(par=="fav") { %>
<% include usr/fav %>

<% } else if(par=="his") { %>
<% include usr/his %>

<% } else if(par=="up") { %>
<% include usr/up %>



<% } %>

</div><!-- /col12-->
</div><!-- /row-->



</body>
</html>

