<!DOCTYPE html>
<% include par/head%>

<%if(usr){%>
<% include usr/nav%>
<%}else{%>
<% include par/nav%>
<%}%>

<html>
<body>

<section class="section">
<div class="row">

<div class="col is-one-quarter bkg-ali">
<% include shop/cat %>
</div><!-- /col1-->

<div class="col is-three-quarters bkg-bei">
<% include usr/sel%>
</div><!-- /col2-->

</div><!-- /row-->
</section>

</body>
</html>

