<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>
<html>
<body>

<section class="section">
<div class="columns">
<div class="column is-one-quarter has-background-ali">
<% include shop/cat %>
</div>

<div class="column is-two-quarters">
<br>
<% include usr/sel%>
</div><!-- /col12-->
<div class="column ">
<br>
</div><!-- /col12-->

</div><!-- /row-->
</section>

</body>
</html>

