<% if(usr) { %>
<header class="has-t-cen bkg-ali">
    welcome <%= usr.name %></header><br>
<div class="row">
<div class="col"><% include ./pid%></div>

<div class="col bkg-ali"><% include ./pal%></div>
</div><!-- row-->

<%} else {%>
<% include ./in%>
<%} %>
