<div class="row">
	<div class="col is-one-third">
		<h1 style="font-size:2em;">ログイン</h1>
	    <br>

	<form action="/usr-log" method="post">
	<label class="label">Email</label>
	          <input class="input is-black" type="text" placeholder="Email input" name="email">
<span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
	         <label class="label">Password</label>
	          <input class="input is-black" type="text" placeholder="password" name="pss">
<span class="icon is-small is-left"><i class="fa fa-key"></i></span><br>
          <button class="button is-warning">Login</button>
	</form>
	</div><!--/col third -->	

	<div class="col is-two-third">
        <label class="label">アカウントをお持ちでない方</label>
	<form action="/usr-sig" method="get">
	<button type="submit" class="button">サインイン</button>
	</form>
	</div> <!--col third-->
</div> <!--/cols-->


