<div class="button has-t-cen">ユーザー登録（無料）</div>
<br>
<form action="/usr-fin" method="post">
    <label class="label">Name</label>
<input class="input" type="text" class="form-control" name="name" size="j0"><br>

Password:<br>
<input class="input" type="text" class="form-control" name="pss" size="80" ><br>

E-mail:<br>
<input class="input" type="email" class="form-control" name="email" size="80" ><br>

<div style="text-align:center">登録する際は<a href="/shop/agmt" target="_blank">利用規約</a>をお読みください。
<input class="checkbox" type="checkbox" name="chk" value="yes"> 同意する<br>
<br>
<button type="submit" class="button is-danger">登録</button>
</form>


