        <!--name -->

        <div class="field">
	         <label class="label">Name</label>

        <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="text" placeholder="Text input">
	          <span class="icon is-small is-left">
	           <i class="fas fa-file-signature"></i>
	          </span>
	
                  
        </div><!--/right -->        
        </div><!--/field-->
         
        <!--/name-->
      
        
        <!--Email -->

        <div class="field">
	         <label class="label">Email</label>

        <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="email" placeholder="Email input">
	          <span class="icon is-small is-left">
	           <i class="fas fa-envelope"></i>
	          </span>
	
	    </div><!--/right --> 
        </div><!--/field-->
         
         <!--/Email-->

         <!--電話番号-->
 
         <div class="field">
	         <label class="label">tel</label>
	
         <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="tel" placeholder="tel" name="tel">
	          <span class="icon is-small is-left">
	           <i class="fas fa-phone"></i>
	          </span>
	
         </div><!--/right -->    
         </div><!--/field-->
  
         <!--/電話番号-->
    
    
     
         <!--郵便番号-->
 
         <div class="field">
	         <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	         
             <label class="label">郵便番号</label>
	         <div class="control has-icons-left has-icons-right">
	         
             <span class="icon is-small is-left">
	         <i class="fas fa-mail-bulk"></i>
	         </span>
             
          
          <!-- ▼入力フィールド(7桁) -->
	          <input class="input is-black" type="postal code" placeholder="postal code" name="zip01" onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');">
     
         
         </div><!--/right-->
         </div><!--/field-->
                         
          <!--/郵便番号-->
           
            
　　　    <!--住所(都道府県)-->
       
          <div class-"field">
	          <label class="label">住所 (都道府県)</label>
       
          
          <div class="control has-icons-left has-icons-right">
	          <span class="icon is-small is-left">
	          <i class="fas fa-map-marker-alt"></i>

	          </span>

	          <input class="input is-black" type="text" placeholder="prefectures" name="pref01">
          </div> <!--/right-->  
          </div> <!--/field-->

          <!--/都道府県 -->
        
       
         　　
　　　　 <!--住所 (都道府県以降の住所)-->
         
         <div class-"field">
	         <label class="label">住所(都道府県以降の住所)</label>
	         <div class="control has-icons-left has-icons-right">
	         <span class="icon is-small is-left">
	         <i class="fas fa-map-marker-alt"></i>
	
	         </span>
      	    
 
	         <input class="input is-black" type="text" placeholder="address" name="addr01">

         </div><!--/right-->
         </div><!--/field-->

         <!--/都道府県以降の住所 -->
         
        <br><br><br>

 
         <!--log in -->
        
         <div class="field">
          <p class="control">
          <button class="button is-warning">登録する</button>

          </p>
         </div><!--/field--> 

        <!--/log in-->
   
 
