        <!--name -->

        <div class="field">
	         <label class="label">Name</label>

        <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="text" placeholder="Text input">
	          <span class="icon is-small is-left">
	           <i class="fas fa-file-signature"></i>
	          </span>

        
        </div><!--/right -->   
        </div><!--/field-->
         
         <!--/name-->

        
        
        <!--Email -->

        <div class="field">
	         <label class="label">Email</label>

        <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="email" placeholder="Email input">
	          <span class="icon is-small is-left">
	           <i class="fas fa-envelope"></i>
	          </span>

        </div><!--/right -->        
        </div><!--/field-->
         
         <!--/Email-->

         <!--password-->
 
         <div class="field">
	         <label class="label">Password</label>

         <div class="control has-icons-left has-icons-right">
	          <input class="input is-black" type="password" placeholder="password" name="password">
	          <span class="icon is-small is-left">
	           <i class="fas fa-key"></i>
	          </span>

         </div><!--/right -->     
         </div><!--/field-->
  
        <!--/password-->
      
        <br>
         
        <!--log in -->
        
         <div class="field">
          <p class="control">
          <button class="button is-warning">登録</button>

          </p>
         </div><!--/field--> 

        <!--/log in-->
   
 
