<div class="box ">
<div class="has-text-centered">
category
</div>

    <ul>
        <li><a href="category-art">artist</a></li>
        <li><a href="category-ost">ost</a></li>
        <li><a href="category-cha">chara song</a></li>
        <li><a href="category-dra">drama</a></li>
        <li><a href="category-com">compilation</a></li>
        <li><a href="category-goo">goods</a></li>
        <li><a href="category-mis">other</a></li>
    </ul>

</div>
