<form method="get" action="/cart">
<input class="input" type="number" name="rset" value="<%= sar[i].uni %>">
<input type="text" name="rsku" value="<%= sar[i].sku%>">
<button class="button" type="submit">get</button>
</form>


