<form method="get" action="cart">
<input class="input" type="number" name="reset" value="<%= sar[i].uni %>">
<input type="text" name="sku" value="<%= sar[i].sku%>">
<button class="button" type="button" onclick="putUni()">get</button>
</form>

<button class="button" type="button" onclick="putUni()">put</button>

<script>
function putUni(){
var loc= "http://localhost:3000";
var xhr = new XMLHttpRequest();
var str="sku="+sku
<!-- var str="?sku=355" -->
xhr.open("get", loc+"/uni?"+str, true);
xhr.send()
}

</script>
